html {
    scroll-behavior: smooth;
}
img, video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reduz o espaçamento interno */
    }

    h1, h4, p {
        font-size: 1rem; /* Reduz o tamanho das fontes */
        text-align: center; /* Centraliza o texto */
    }

    .cards-section .card {
        width: 100%; /* Faz os cards ocuparem toda a largura */
        margin-bottom: 15px; /* Adiciona espaçamento entre cards */
    }
}
body {
    overflow-x: hidden; /* Evita scroll horizontal */
}

/*navbar*/

.navbar {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.topoPagina{
    position: fixed;        
    z-index: 999;
    width:100%;
}

.navbar-brand {
    padding-left: 20px;
    height: 120px;
    width: 120px;
}
.logo{
    height: 120px;
    width: 120px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-left: auto;
    align-items:center;
}

.nav-link {
    display: flex;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 18px;
}

.nav-link:hover{
    background-color: #ffffff;
    color: black;
}

.nav-link.active {
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
background-color: rgb(9, 86, 250);
}

#navbarNav{
    height: auto;
}

.login-button {
    background-color: #0056b3;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 18px;
}

.login-button:hover {
    background-color: #ffffff;
    color: black;
}
@media (max-width: 768px) {
    .navbar-brand .logo {
        height: 60px;
        width: 60px;
    }
}
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Torna os links verticais */
        gap: 10px; /* Adiciona espaçamento entre links */
    }

    .navbar {
        padding: 10px; /* Ajusta o espaçamento interno */
    }
}

/*footer*/


.footer {
    background-image: linear-gradient(to right, #69aaff, #0056b3);
    padding: 20px 0;
    border-top: 0.5px solid #47688b;
    border-top-left-radius: 80px;
    color: white;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .social-cards {
    display: flex;
    gap: 10px;
}

.footer .social-card {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    border-radius: 0.25rem;
}

.footer .social-card img {
    width: 90px;
    height: 50px;
}

.footer .social-card .social-icons {
    margin-top: 10px;
}

.footer .social-card .social-icons a {
    color: #333;
    margin: 0 5px;
    font-size: 1.5rem;
}

.logoFooter {
    height: auto; /* Permite ajuste automático com a largura */
    width: auto;
    max-height: 150px; /* Limita a altura máxima em dispositivos maiores */
    max-width: 150px; /* Limita a largura máxima */
    object-fit: contain; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Garante o alinhamento como bloco */
}
@media (max-width: 768px) {
    .logoFooter {
        height: 150px;
        width: 150px;
    }
    .footer .container {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align items */
    }

    .footer .social-cards {
        margin-bottom: 20px; /* Add space below the social cards */
    }

    .footer-logo {
        order: 1; /* Ensure the logo appears after the social cards */
    }
}

/*corpo*/

.cards-section .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}
.cardAvisos{
    max-height: 100vh;
    overflow: scroll;
}

#conteudo-avisos{
    overflow: hidden;

}
@media (max-width: 991px){      
    .cardPubli{
        height: 70vh !important;
    }
    .cardAvisos{
        height: 70vh !important;
    }
}
@media (max-width: 768px){
    .cardPubli{
        object-fit: cover;
    }
    #mainContent{   
        width: 100%;
    }
    body {
        overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
    }
}
.cards-section .card video {
    object-fit: contain;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.cards-section {
    margin-top: 40px;
    gap: 15px;
}

.icon-container {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.icon-container i {
    font-size: 2.5rem;
    color: #3f3f3f;
}

.card {
    min-height: 300px;
    width: 600px;
    border-radius: 10px;
}

.card .btn {
    margin-top: auto;
}

#card-meio {
    display: flex;
    margin-top: 20px;
    border: 0.5px solid #000;
    margin: 5px;
}
.blur-background {
    filter: blur(5px);
    transition: filter 0.3s;
}
.fa-brands{
    color: white;
}

video{
    width: 100%;
    height: 70%;
    object-fit: fill;
}
.videoPubli{
    overflow: hidden;
    height: 70vh;
}
#cardcomochegar{
    background-image: linear-gradient(to bottom right, #69aaff, #0056b3);
}
#cardcomochegar:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 0;
}
body {
    font-family: 'JetBrains Mono';font-size: 15px;
    width: 100%;
}
.card-title{
    font-weight: bold; 
    text-transform: capitalize;
}
.copyrightContainer{
    justify-content: center;
    color: white;
    display: flex;
}
p>a{
    color: white;
}
#aluno_azul {
    background-color: #0056b3;
    color: white; 
    border-bottom-right-radius: 80px;
    padding-top: 2%;
}
#aluno_azul h1 {
    font-size: 2.5rem; 
    font-weight: bold; 
}

#aluno_azul p {
    font-size: 1.2rem; 
    line-height: 1.6; 
}

